<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ttl.myspringboot.dao.MsAddressRuleMapper" >
  <resultMap id="BaseResultMap" type="com.ttl.myspringboot.po.MsAddressRule" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="address_name" property="addressName" jdbcType="VARCHAR" />
    <result column="address_desc" property="addressDesc" jdbcType="VARCHAR" />
    <result column="up_left_lat" property="upLeftLat" jdbcType="VARCHAR" />
    <result column="up_left_lng" property="upLeftLng" jdbcType="VARCHAR" />
    <result column="up_right_lat" property="upRightLat" jdbcType="VARCHAR" />
    <result column="up_right_lng" property="upRightLng" jdbcType="VARCHAR" />
    <result column="below_left_lat" property="belowLeftLat" jdbcType="VARCHAR" />
    <result column="below_left_lng" property="belowLeftLng" jdbcType="VARCHAR" />
    <result column="below_right_lat" property="belowRightLat" jdbcType="VARCHAR" />
    <result column="below_right_lng" property="belowRightLng" jdbcType="VARCHAR" />
    <result column="is_available" property="isAvailable" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, address_name, address_desc, up_left_lat, up_left_lng, up_right_lat, up_right_lng, 
    below_left_lat, below_left_lng, below_right_lat, below_right_lng, is_available
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ttl.myspringboot.po.MsAddressRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ms_address_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ms_address_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ms_address_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ttl.myspringboot.po.MsAddressRuleExample" >
    delete from ms_address_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ttl.myspringboot.po.MsAddressRule" >
    insert into ms_address_rule (id, address_name, address_desc, 
      up_left_lat, up_left_lng, up_right_lat, 
      up_right_lng, below_left_lat, below_left_lng, 
      below_right_lat, below_right_lng, is_available
      )
    values (#{id,jdbcType=INTEGER}, #{addressName,jdbcType=VARCHAR}, #{addressDesc,jdbcType=VARCHAR}, 
      #{upLeftLat,jdbcType=VARCHAR}, #{upLeftLng,jdbcType=VARCHAR}, #{upRightLat,jdbcType=VARCHAR}, 
      #{upRightLng,jdbcType=VARCHAR}, #{belowLeftLat,jdbcType=VARCHAR}, #{belowLeftLng,jdbcType=VARCHAR}, 
      #{belowRightLat,jdbcType=VARCHAR}, #{belowRightLng,jdbcType=VARCHAR}, #{isAvailable,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ttl.myspringboot.po.MsAddressRule" >
    insert into ms_address_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addressName != null" >
        address_name,
      </if>
      <if test="addressDesc != null" >
        address_desc,
      </if>
      <if test="upLeftLat != null" >
        up_left_lat,
      </if>
      <if test="upLeftLng != null" >
        up_left_lng,
      </if>
      <if test="upRightLat != null" >
        up_right_lat,
      </if>
      <if test="upRightLng != null" >
        up_right_lng,
      </if>
      <if test="belowLeftLat != null" >
        below_left_lat,
      </if>
      <if test="belowLeftLng != null" >
        below_left_lng,
      </if>
      <if test="belowRightLat != null" >
        below_right_lat,
      </if>
      <if test="belowRightLng != null" >
        below_right_lng,
      </if>
      <if test="isAvailable != null" >
        is_available,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="addressName != null" >
        #{addressName,jdbcType=VARCHAR},
      </if>
      <if test="addressDesc != null" >
        #{addressDesc,jdbcType=VARCHAR},
      </if>
      <if test="upLeftLat != null" >
        #{upLeftLat,jdbcType=VARCHAR},
      </if>
      <if test="upLeftLng != null" >
        #{upLeftLng,jdbcType=VARCHAR},
      </if>
      <if test="upRightLat != null" >
        #{upRightLat,jdbcType=VARCHAR},
      </if>
      <if test="upRightLng != null" >
        #{upRightLng,jdbcType=VARCHAR},
      </if>
      <if test="belowLeftLat != null" >
        #{belowLeftLat,jdbcType=VARCHAR},
      </if>
      <if test="belowLeftLng != null" >
        #{belowLeftLng,jdbcType=VARCHAR},
      </if>
      <if test="belowRightLat != null" >
        #{belowRightLat,jdbcType=VARCHAR},
      </if>
      <if test="belowRightLng != null" >
        #{belowRightLng,jdbcType=VARCHAR},
      </if>
      <if test="isAvailable != null" >
        #{isAvailable,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ttl.myspringboot.po.MsAddressRuleExample" resultType="java.lang.Integer" >
    select count(*) from ms_address_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ms_address_rule
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.addressName != null" >
        address_name = #{record.addressName,jdbcType=VARCHAR},
      </if>
      <if test="record.addressDesc != null" >
        address_desc = #{record.addressDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.upLeftLat != null" >
        up_left_lat = #{record.upLeftLat,jdbcType=VARCHAR},
      </if>
      <if test="record.upLeftLng != null" >
        up_left_lng = #{record.upLeftLng,jdbcType=VARCHAR},
      </if>
      <if test="record.upRightLat != null" >
        up_right_lat = #{record.upRightLat,jdbcType=VARCHAR},
      </if>
      <if test="record.upRightLng != null" >
        up_right_lng = #{record.upRightLng,jdbcType=VARCHAR},
      </if>
      <if test="record.belowLeftLat != null" >
        below_left_lat = #{record.belowLeftLat,jdbcType=VARCHAR},
      </if>
      <if test="record.belowLeftLng != null" >
        below_left_lng = #{record.belowLeftLng,jdbcType=VARCHAR},
      </if>
      <if test="record.belowRightLat != null" >
        below_right_lat = #{record.belowRightLat,jdbcType=VARCHAR},
      </if>
      <if test="record.belowRightLng != null" >
        below_right_lng = #{record.belowRightLng,jdbcType=VARCHAR},
      </if>
      <if test="record.isAvailable != null" >
        is_available = #{record.isAvailable,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ms_address_rule
    set id = #{record.id,jdbcType=INTEGER},
      address_name = #{record.addressName,jdbcType=VARCHAR},
      address_desc = #{record.addressDesc,jdbcType=VARCHAR},
      up_left_lat = #{record.upLeftLat,jdbcType=VARCHAR},
      up_left_lng = #{record.upLeftLng,jdbcType=VARCHAR},
      up_right_lat = #{record.upRightLat,jdbcType=VARCHAR},
      up_right_lng = #{record.upRightLng,jdbcType=VARCHAR},
      below_left_lat = #{record.belowLeftLat,jdbcType=VARCHAR},
      below_left_lng = #{record.belowLeftLng,jdbcType=VARCHAR},
      below_right_lat = #{record.belowRightLat,jdbcType=VARCHAR},
      below_right_lng = #{record.belowRightLng,jdbcType=VARCHAR},
      is_available = #{record.isAvailable,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ttl.myspringboot.po.MsAddressRule" >
    update ms_address_rule
    <set >
      <if test="addressName != null" >
        address_name = #{addressName,jdbcType=VARCHAR},
      </if>
      <if test="addressDesc != null" >
        address_desc = #{addressDesc,jdbcType=VARCHAR},
      </if>
      <if test="upLeftLat != null" >
        up_left_lat = #{upLeftLat,jdbcType=VARCHAR},
      </if>
      <if test="upLeftLng != null" >
        up_left_lng = #{upLeftLng,jdbcType=VARCHAR},
      </if>
      <if test="upRightLat != null" >
        up_right_lat = #{upRightLat,jdbcType=VARCHAR},
      </if>
      <if test="upRightLng != null" >
        up_right_lng = #{upRightLng,jdbcType=VARCHAR},
      </if>
      <if test="belowLeftLat != null" >
        below_left_lat = #{belowLeftLat,jdbcType=VARCHAR},
      </if>
      <if test="belowLeftLng != null" >
        below_left_lng = #{belowLeftLng,jdbcType=VARCHAR},
      </if>
      <if test="belowRightLat != null" >
        below_right_lat = #{belowRightLat,jdbcType=VARCHAR},
      </if>
      <if test="belowRightLng != null" >
        below_right_lng = #{belowRightLng,jdbcType=VARCHAR},
      </if>
      <if test="isAvailable != null" >
        is_available = #{isAvailable,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ttl.myspringboot.po.MsAddressRule" >
    update ms_address_rule
    set address_name = #{addressName,jdbcType=VARCHAR},
      address_desc = #{addressDesc,jdbcType=VARCHAR},
      up_left_lat = #{upLeftLat,jdbcType=VARCHAR},
      up_left_lng = #{upLeftLng,jdbcType=VARCHAR},
      up_right_lat = #{upRightLat,jdbcType=VARCHAR},
      up_right_lng = #{upRightLng,jdbcType=VARCHAR},
      below_left_lat = #{belowLeftLat,jdbcType=VARCHAR},
      below_left_lng = #{belowLeftLng,jdbcType=VARCHAR},
      below_right_lat = #{belowRightLat,jdbcType=VARCHAR},
      below_right_lng = #{belowRightLng,jdbcType=VARCHAR},
      is_available = #{isAvailable,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>