<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ttl.myspringboot.dao.MsBankCardCheckMapper" >
  <resultMap id="BaseResultMap" type="com.ttl.myspringboot.po.MsBankCardCheck" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="id_no" property="idNo" jdbcType="CHAR" />
    <result column="card_no" property="cardNo" jdbcType="CHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="card_indate" property="cardIndate" jdbcType="DATE" />
    <result column="bank_phone" property="bankPhone" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="serialno" property="serialno" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="card_type" property="cardType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, user_name, id_no, card_no, bank_name, card_indate, bank_phone, code, 
    serialno, create_time, card_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ttl.myspringboot.po.MsBankCardCheckExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ms_bank_card_check
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ms_bank_card_check
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ms_bank_card_check
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ttl.myspringboot.po.MsBankCardCheckExample" >
    delete from ms_bank_card_check
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ttl.myspringboot.po.MsBankCardCheck" >
    insert into ms_bank_card_check (id, user_id, user_name, 
      id_no, card_no, bank_name, card_indate, 
      bank_phone, code, serialno, 
      create_time, card_type)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{idNo,jdbcType=CHAR}, #{cardNo,jdbcType=CHAR}, #{bankName,jdbcType=VARCHAR}, #{cardIndate,jdbcType=DATE}, 
      #{bankPhone,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{serialno,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{cardType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ttl.myspringboot.po.MsBankCardCheck" >
    insert into ms_bank_card_check
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="idNo != null" >
        id_no,
      </if>
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="cardIndate != null" >
        card_indate,
      </if>
      <if test="bankPhone != null" >
        bank_phone,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="serialno != null" >
        serialno,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="cardType != null" >
        card_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        #{idNo,jdbcType=CHAR},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=CHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="cardIndate != null" >
        #{cardIndate,jdbcType=DATE},
      </if>
      <if test="bankPhone != null" >
        #{bankPhone,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="serialno != null" >
        #{serialno,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ttl.myspringboot.po.MsBankCardCheckExample" resultType="java.lang.Integer" >
    select count(*) from ms_bank_card_check
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ms_bank_card_check
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.idNo != null" >
        id_no = #{record.idNo,jdbcType=CHAR},
      </if>
      <if test="record.cardNo != null" >
        card_no = #{record.cardNo,jdbcType=CHAR},
      </if>
      <if test="record.bankName != null" >
        bank_name = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.cardIndate != null" >
        card_indate = #{record.cardIndate,jdbcType=DATE},
      </if>
      <if test="record.bankPhone != null" >
        bank_phone = #{record.bankPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.serialno != null" >
        serialno = #{record.serialno,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cardType != null" >
        card_type = #{record.cardType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ms_bank_card_check
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      id_no = #{record.idNo,jdbcType=CHAR},
      card_no = #{record.cardNo,jdbcType=CHAR},
      bank_name = #{record.bankName,jdbcType=VARCHAR},
      card_indate = #{record.cardIndate,jdbcType=DATE},
      bank_phone = #{record.bankPhone,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      serialno = #{record.serialno,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      card_type = #{record.cardType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ttl.myspringboot.po.MsBankCardCheck" >
    update ms_bank_card_check
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        id_no = #{idNo,jdbcType=CHAR},
      </if>
      <if test="cardNo != null" >
        card_no = #{cardNo,jdbcType=CHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="cardIndate != null" >
        card_indate = #{cardIndate,jdbcType=DATE},
      </if>
      <if test="bankPhone != null" >
        bank_phone = #{bankPhone,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="serialno != null" >
        serialno = #{serialno,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cardType != null" >
        card_type = #{cardType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ttl.myspringboot.po.MsBankCardCheck" >
    update ms_bank_card_check
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      id_no = #{idNo,jdbcType=CHAR},
      card_no = #{cardNo,jdbcType=CHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      card_indate = #{cardIndate,jdbcType=DATE},
      bank_phone = #{bankPhone,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      serialno = #{serialno,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      card_type = #{cardType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>