<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ttl.myspringboot.dao.MsFlowDetailRecordMapper" >
  <resultMap id="BaseResultMap" type="com.ttl.myspringboot.po.MsFlowDetailRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="flow_id" property="flowId" jdbcType="INTEGER" />
    <result column="flow_order" property="flowOrder" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="detail_status" property="detailStatus" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="dead_time" property="deadTime" jdbcType="TIMESTAMP" />
    <result column="flow_record_id" property="flowRecordId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ttl.myspringboot.po.MsFlowDetailRecord" extends="BaseResultMap" >
    <result column="attach_url" property="attachUrl" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, flow_id, flow_order, user_id, remark, detail_status, create_time, dead_time, 
    flow_record_id
  </sql>
  <sql id="Blob_Column_List" >
    attach_url
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.ttl.myspringboot.po.MsFlowDetailRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ms_flow_detail_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ttl.myspringboot.po.MsFlowDetailRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ms_flow_detail_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ms_flow_detail_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ms_flow_detail_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ttl.myspringboot.po.MsFlowDetailRecordExample" >
    delete from ms_flow_detail_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ttl.myspringboot.po.MsFlowDetailRecord" >
    insert into ms_flow_detail_record (id, flow_id, flow_order, 
      user_id, remark, detail_status, 
      create_time, dead_time, flow_record_id, 
      attach_url)
    values (#{id,jdbcType=INTEGER}, #{flowId,jdbcType=INTEGER}, #{flowOrder,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{detailStatus,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{deadTime,jdbcType=TIMESTAMP}, #{flowRecordId,jdbcType=INTEGER}, 
      #{attachUrl,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ttl.myspringboot.po.MsFlowDetailRecord" >
    insert into ms_flow_detail_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="flowId != null" >
        flow_id,
      </if>
      <if test="flowOrder != null" >
        flow_order,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="detailStatus != null" >
        detail_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="deadTime != null" >
        dead_time,
      </if>
      <if test="flowRecordId != null" >
        flow_record_id,
      </if>
      <if test="attachUrl != null" >
        attach_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="flowId != null" >
        #{flowId,jdbcType=INTEGER},
      </if>
      <if test="flowOrder != null" >
        #{flowOrder,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="detailStatus != null" >
        #{detailStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadTime != null" >
        #{deadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flowRecordId != null" >
        #{flowRecordId,jdbcType=INTEGER},
      </if>
      <if test="attachUrl != null" >
        #{attachUrl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ttl.myspringboot.po.MsFlowDetailRecordExample" resultType="java.lang.Integer" >
    select count(*) from ms_flow_detail_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ms_flow_detail_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.flowId != null" >
        flow_id = #{record.flowId,jdbcType=INTEGER},
      </if>
      <if test="record.flowOrder != null" >
        flow_order = #{record.flowOrder,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.detailStatus != null" >
        detail_status = #{record.detailStatus,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deadTime != null" >
        dead_time = #{record.deadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.flowRecordId != null" >
        flow_record_id = #{record.flowRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.attachUrl != null" >
        attach_url = #{record.attachUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update ms_flow_detail_record
    set id = #{record.id,jdbcType=INTEGER},
      flow_id = #{record.flowId,jdbcType=INTEGER},
      flow_order = #{record.flowOrder,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      detail_status = #{record.detailStatus,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      dead_time = #{record.deadTime,jdbcType=TIMESTAMP},
      flow_record_id = #{record.flowRecordId,jdbcType=INTEGER},
      attach_url = #{record.attachUrl,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ms_flow_detail_record
    set id = #{record.id,jdbcType=INTEGER},
      flow_id = #{record.flowId,jdbcType=INTEGER},
      flow_order = #{record.flowOrder,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      detail_status = #{record.detailStatus,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      dead_time = #{record.deadTime,jdbcType=TIMESTAMP},
      flow_record_id = #{record.flowRecordId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ttl.myspringboot.po.MsFlowDetailRecord" >
    update ms_flow_detail_record
    <set >
      <if test="flowId != null" >
        flow_id = #{flowId,jdbcType=INTEGER},
      </if>
      <if test="flowOrder != null" >
        flow_order = #{flowOrder,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="detailStatus != null" >
        detail_status = #{detailStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadTime != null" >
        dead_time = #{deadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flowRecordId != null" >
        flow_record_id = #{flowRecordId,jdbcType=INTEGER},
      </if>
      <if test="attachUrl != null" >
        attach_url = #{attachUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ttl.myspringboot.po.MsFlowDetailRecord" >
    update ms_flow_detail_record
    set flow_id = #{flowId,jdbcType=INTEGER},
      flow_order = #{flowOrder,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      detail_status = #{detailStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      dead_time = #{deadTime,jdbcType=TIMESTAMP},
      flow_record_id = #{flowRecordId,jdbcType=INTEGER},
      attach_url = #{attachUrl,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ttl.myspringboot.po.MsFlowDetailRecord" >
    update ms_flow_detail_record
    set flow_id = #{flowId,jdbcType=INTEGER},
      flow_order = #{flowOrder,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      detail_status = #{detailStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      dead_time = #{deadTime,jdbcType=TIMESTAMP},
      flow_record_id = #{flowRecordId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>