<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ttl.myspringboot.dao.MsTagMapper" >
  <resultMap id="BaseResultMap" type="com.ttl.myspringboot.po.MsTag" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tag_desc" property="tagDesc" jdbcType="VARCHAR" />
    <result column="vocation_id" property="vocationId" jdbcType="INTEGER" />
    <result column="tag_status" property="tagStatus" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tag_desc, vocation_id, tag_status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ttl.myspringboot.po.MsTagExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ms_tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ms_tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ms_tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ttl.myspringboot.po.MsTagExample" >
    delete from ms_tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ttl.myspringboot.po.MsTag" >
    insert into ms_tag (id, tag_desc, vocation_id, 
      tag_status)
    values (#{id,jdbcType=INTEGER}, #{tagDesc,jdbcType=VARCHAR}, #{vocationId,jdbcType=INTEGER}, 
      #{tagStatus,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ttl.myspringboot.po.MsTag" >
    insert into ms_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tagDesc != null" >
        tag_desc,
      </if>
      <if test="vocationId != null" >
        vocation_id,
      </if>
      <if test="tagStatus != null" >
        tag_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tagDesc != null" >
        #{tagDesc,jdbcType=VARCHAR},
      </if>
      <if test="vocationId != null" >
        #{vocationId,jdbcType=INTEGER},
      </if>
      <if test="tagStatus != null" >
        #{tagStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ttl.myspringboot.po.MsTagExample" resultType="java.lang.Integer" >
    select count(*) from ms_tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ms_tag
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tagDesc != null" >
        tag_desc = #{record.tagDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.vocationId != null" >
        vocation_id = #{record.vocationId,jdbcType=INTEGER},
      </if>
      <if test="record.tagStatus != null" >
        tag_status = #{record.tagStatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ms_tag
    set id = #{record.id,jdbcType=INTEGER},
      tag_desc = #{record.tagDesc,jdbcType=VARCHAR},
      vocation_id = #{record.vocationId,jdbcType=INTEGER},
      tag_status = #{record.tagStatus,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ttl.myspringboot.po.MsTag" >
    update ms_tag
    <set >
      <if test="tagDesc != null" >
        tag_desc = #{tagDesc,jdbcType=VARCHAR},
      </if>
      <if test="vocationId != null" >
        vocation_id = #{vocationId,jdbcType=INTEGER},
      </if>
      <if test="tagStatus != null" >
        tag_status = #{tagStatus,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ttl.myspringboot.po.MsTag" >
    update ms_tag
    set tag_desc = #{tagDesc,jdbcType=VARCHAR},
      vocation_id = #{vocationId,jdbcType=INTEGER},
      tag_status = #{tagStatus,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>