<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ttl.myspringboot.dao.MsUserFriendMapper" >
  <resultMap id="BaseResultMap" type="com.ttl.myspringboot.po.MsUserFriend" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <id column="friend_id" property="friendId" jdbcType="INTEGER" />
    <result column="friend_status" property="friendStatus" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, friend_id, friend_status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ttl.myspringboot.po.MsUserFriendExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ms_user_friend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ttl.myspringboot.po.MsUserFriendKey" >
    select 
    <include refid="Base_Column_List" />
    from ms_user_friend
    where user_id = #{userId,jdbcType=INTEGER}
      and friend_id = #{friendId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ttl.myspringboot.po.MsUserFriendKey" >
    delete from ms_user_friend
    where user_id = #{userId,jdbcType=INTEGER}
      and friend_id = #{friendId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ttl.myspringboot.po.MsUserFriendExample" >
    delete from ms_user_friend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ttl.myspringboot.po.MsUserFriend" >
    insert into ms_user_friend (user_id, friend_id, friend_status
      )
    values (#{userId,jdbcType=INTEGER}, #{friendId,jdbcType=INTEGER}, #{friendStatus,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ttl.myspringboot.po.MsUserFriend" >
    insert into ms_user_friend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="friendId != null" >
        friend_id,
      </if>
      <if test="friendStatus != null" >
        friend_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="friendId != null" >
        #{friendId,jdbcType=INTEGER},
      </if>
      <if test="friendStatus != null" >
        #{friendStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ttl.myspringboot.po.MsUserFriendExample" resultType="java.lang.Integer" >
    select count(*) from ms_user_friend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ms_user_friend
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.friendId != null" >
        friend_id = #{record.friendId,jdbcType=INTEGER},
      </if>
      <if test="record.friendStatus != null" >
        friend_status = #{record.friendStatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ms_user_friend
    set user_id = #{record.userId,jdbcType=INTEGER},
      friend_id = #{record.friendId,jdbcType=INTEGER},
      friend_status = #{record.friendStatus,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ttl.myspringboot.po.MsUserFriend" >
    update ms_user_friend
    <set >
      <if test="friendStatus != null" >
        friend_status = #{friendStatus,jdbcType=TINYINT},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
      and friend_id = #{friendId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ttl.myspringboot.po.MsUserFriend" >
    update ms_user_friend
    set friend_status = #{friendStatus,jdbcType=TINYINT}
    where user_id = #{userId,jdbcType=INTEGER}
      and friend_id = #{friendId,jdbcType=INTEGER}
  </update>
</mapper>